body {
    background-color: #FFFFCC;
    background-image: url(../image/audience.jpeg);
    background-repeat: no-repeat;
    display: inline-block;
    
}

.drumkit {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.drum{
  padding: 10px 30px;
  margin: 10px;
  text-align: Centrer;
  border: 5px solid rgb(241, 234, 234);
  border-radius: 3px;
  cursor: pointer;
   
}
  
@keyframes drum-animation {
    from {
      background-color: #ffffff;
    }
    to {
      background-color: #fbf2c0;
    }
}
